body {
    text-align: center;
    font-family: sans-serif;
    /* padding: 30px; */
    margin-top: 80px;
}

.background {
    background-image: url(https://images.unsplash.com/photo-1451847251646-8a6c0dd1510c?ixlib=rb-0.3.5&s=a7073ff766ae97fbe288bea3005ef7e3&auto=format&fit=crop&w=2089&q=80); 
    background-size: cover;
    height: 90vh;
}

.background-results {
    background-image: url(https://images.unsplash.com/photo-1451847251646-8a6c0dd1510c?ixlib=rb-0.3.5&s=a7073ff766ae97fbe288bea3005ef7e3&auto=format&fit=crop&w=2089&q=80); 
    background-size: cover;
    height: 100vh;
    padding-bottom: 30px;
}

img {
    height: 300px;
}

.inputs{
   font-size: 19px 
}

input[type="text"]{
    font-size: 100px
}

div.transbox {
    padding: 20px;
    width: 75%;
    margin: 10px;
    background-color: rgb(255, 255, 255, 0.6);
    /* border: 1px solid black; */
    display: inline-block;
    /* opacity: 0.6; */
    /* filter: alpha(opacity=60); For IE8 and earlier */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* NAVIGATION BAR */

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 15px 0 black;
}

header * {
    display: inline;
    font-size: 16px;
}

header img {
    height: 30px;
    margin-left: 40px;
}

header h3 {
    margin-left: 10px
}

header a {
    color: black;
    text-decoration: none;
    margin: 20px;
}
header a:hover, a:active {
    color: #6ad34b
 }

#myDiv {
    margin: 0 auto;
    height:400px;
    width: 95%;
}
