<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Energy4Gud</title>
 </head>
 <style>
    h1, h2, body{
         text-align: center;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    .titles{
        background-color: darkslategrey;
        color: white;
        padding: 10px;
    }
 </style>
 <body style="background: url(https://thumbs.dreamstime.com/b/fantastic-sun-white-clouds-blue-sky-photo-88004933.jpg); background-size: 100%; height: 100%">
    <h1 class="titles">Energy4Gud</h1>
    <h2>Check out our simulator below!</h2>

    <form name="submission" action= "http://localhost:5000/testmain.py" method="POST">
        Location:
        <select name="location">
            <option value="california">California</option>
        </select>
        <br>

        Number of Panels:
        <select name="panels">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
        </select>
        <br>

        Number of Turbines:
        <select name="turbines">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>

        Number of Batteries:
        <select name="batteries">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <a href="/results"> <input type="button" value="Submit"></a>
    </form>
 </body>
</html>