<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Energy4Gud</title>
 </head>

 <body>
    <h1>Energy4Gud</h1>
    <p>Check out our simulator below!</p>

    <form name="submission" action= "http://localhost:5000/testmain.py" method="POST">
        Location:
        <select name="location">
            <option value="california">California</option>
        </select>
        <br>

        Number of Panels:
        <select name="panels">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
            <option value="35">35</option>
        </select>
        <br>

        Number of Turbines:
        <select name="turbines">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>

        Number of Batteries:
        <select name="batteries">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <br>
        <a href="/results"> <input type="button" value="Submit"></a>
    </form>
 </body>
</html>