<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <title>Energy4Good</title>
    <link rel="icon" href="https://cleanchoiceenergy.com/assets/img/how-it-works-2.png">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
 </head>
 <body class="background">
    <header>
        <img src="https://cleanchoiceenergy.com/assets/img/how-it-works-2.png">
        <h3>Energy4Good</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="team">Meet the Team</a></li>
                    <li><a href="example">Sample</a></li>
                </ul>
            </nav>
    </header>
    <div class="transbox">
        <h3>Enter your home specifications:</h3>
        <form name="submission" action= "/results" method="POST" class="inputs">
            Location:
            <select name="location">
                <option value="California" selected="selected">California</option>
                <option value="Florida">Florida</option>
                <option value="New York">New York</option>
                <option value="Texas">Texas</option>
            </select>
            <br>
    
            Number of 250W Solar Panels:
            <select name="panels">
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30" selected="selected">30</option>
                <option value="35">35</option>
                <option value="35">40</option>
            </select>
            <br>
    
            Number of 400W Wind Turbines:
            <select name="turbines">
                <option value="0">0</option>
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br>
    
            Number of 10kWh Batteries:
            <select name="batteries">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2" selected="selected">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br>
                <input type="submit" value="Submit">
        </form>
    </div>
 </body>
</html>