<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Team</title>
    <link rel="icon" href="https://cleanchoiceenergy.com/assets/img/how-it-works-2.png">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="background">
    <header>
        <img src="https://cleanchoiceenergy.com/assets/img/how-it-works-2.png">
        <h3>Energy4Good</h3>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="team">Meet the Team</a></li>
                    <li><a href="example">Sample</a></li>
                </ul>
            </nav>
    </header>
    <div class="transbox">
        <h3 class="titles">Meet the Team</h3>
        <div>
            <img src="../static/team.JPG">
        </div>
        <p> Rachel Sturn, Kaitlyn McGoldrick, Sneha Desnai, and Kelly Finnerty</p>
        <p> Made with the help of our incredible mentors, Arman Kizilkale and Youcef Msaid.</p>
    </div>

</body>
</html>