<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Team</title>
    <link rel="icon" href="https://cleanchoiceenergy.com/assets/img/how-it-works-2.png">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body style="background: url(https://www.arup.com/-/media/rates-rubbish-and-climate-leadership_smart-green-city_istock-542569686_2000x1125.jpg?h=1125&la=en&w=2000&hash=379284C1EA3DA9701451073AECD1AA3A228E60FF); background-size: 100%; height: 100%">
    <a href="/">Home</a>
    <a href="about">About</a>

    <h1 class="titles">About the Team</h1>

    <div class="background">
      <div class="transbox">
          <h3> Rachel Stern, Kaitlyn McGoldrick, Sneha Desnai, and Kelly Finnerty</h3>
          <h4> Made with the help of our incredible mentors, Arman Kizilkale and Youcef Msaid.</h4>
      </div>
    </div>

</body>
</html>